/* body {
margin: 0;
    background-color: aqua;
} */



/* main {
    color: black;
}*/

 /*  nav{
    color: white;
    background: blueviolet;
    display: flex;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(95, 3, 0);
  } */
  
  /* h1 {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 3px solid rgb(95, 3, 0);
    background-color: blueviolet;
}  
header{
    position: relative;
    background-color: rgb(6, 0, 88);
    border: 2px solid black;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
height: 110px;
} */

/* body{
border: 2px solid black;

display: flex;
flex-wrap: wrap;
width: fit-content;
height: fit-content;
position: relative;
} */


 /*trying to layout flex*/

 *,
*::before
 *::after{
    box-sizing: border-box;
}
body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
    width: 750px;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    /*  border-width: 2px;
    border-style: solid;
    border-color: black; */ 
    display: flex;
    flex-wrap: wrap;
  }
  .who{
    text-align: center;
  }
  .fotito{
    margin-top: 25px;
    display: grid;
   place-items: center;
  }
  .fotito img{
width: min(18rem, 90%);
border-radius: 100%;
  }
  
  .youtube{
    text-decoration: none;
    color: white;
  }
  .youtube2{
    text-decoration: none;
    color: white;
  }

  .firstF {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
  }
  .firstFt {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
  }
  .firstFs {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
  }
  .secondF {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 19px;
  }
  .firsth1 {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 45px;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  
/* 
  .firstF {
    font-family: "Graduate", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
  }
  .firstFt {
    font-family: "Graduate", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
  }
  .firstFs {
    font-family: "Graduate", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
  }
  .secondF {
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: italic;
    font-size: 19px;
  }
   */
   
  
  .stiki{
    padding-bottom: 10px;
    position: sticky;
    top: 80px;
  }
  .stikiti{
    position: sticky;
    top: 20px;
  }
  .spotify {
    display: none;
  }
  .youtube:hover{
    color: rgb(0, 59, 87);
  }
  .youtube2:hover{
    color: rgb(0, 59, 87);
  }
.who{
  align-items: center;
}

  header,
  nav,
  main,
  aside,
  footer {
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.918);
    /* border: 2px dotted black;  */
    flex-direction: column;
  }
  header {
    display: flex;
    justify-content: center;
   
    height: 80px;
  }
  nav {
    height: 40px;
  }
  main,
  aside {
    height: auto;
  }
  footer {
    height: 90px;
  }
  main {
    width: 554px;
  }
  aside {
    position: relative;
    align-items: center;
    width: 195px;
  }
  

  header,
  nav,
  footer {
    width: 750px;}

.colorciño{
  background-color: rgba(167, 0, 218, 0.637);
  color: black;
}
#gta {
  width: 22px;
  height: 22px;
}
#valorant {
  width: 22px;
  height: 22px;
}
#fortnite {
  width: 22px;
  height: 22px;
}
#github {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 890px) {
  body{
    /* position: unset; */
    width: 1007px;
  }
  header,
  nav,
  footer{
    /* position: unset; */
    width: 1007px;
  }
  main{
    /* position: unset; */
    width: 700px;
  }
  aside{
    /* position: unset; */
    width: 307px;
  }}

  @media screen and (min-width: 1300px){
    body{
      position: unset;
      width: 1250px;
    }
    header,
    nav,
    footer{
      width: 1250px;
    }
    main{
      width: 900px;
    }
    aside{
      width: 350px;
    }

  }

  @media screen and (min-width: 1700px){
    body{
      position: unset;
      width: 1650px;
    }
    .spotify {
      display: unset;
    }
    .youtube{
      display: none;
    }
    header,
    nav,
    footer{
      width: 1650px;
    }
    main{
      width: 1211px;
    }
    aside{
      width: 430px;
    }
    @media screen and (min-width: 1701px) and  (max-width: 1920px){
  }
  body{
    position: unset;
    width: 1920px;
  }
  .spotify {
    display: unset;
  }
  .youtube{
    display: none;
  }
  header,
  nav,
  footer{
    width: 1920px;
  }
  main{
    width: 1570px;
  }
  aside{
    width: 350px;
  }
}

/*ay*/












/* 
nav,
main,
aside,
footer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border: 2px solid black;
    
}
.dancing-script-sex {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 55px;
  }

 h1 {
    display: flex;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
}
nav{
    border: 2px solid blue;
    background-color: orange;
}
main, aside {
height: auto;
}
main{
    display: flex;
width: 1430px;
}
aside{
width: 470px;
}
header,
nav,
footer{
    width: 1920px;
}
footer{
    height: 100px;
}
p{

}  */


/* profesor ejemplo */

